doctype 5
html(lang="en")
	head
		title 'kaotec'
		meta(charset='utf-8')
		meta(name='description', content='dynamic portfolio version 0.1')
		meta(name='author', content='Kasper Jordaens')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		link(rel='stylesheet', href='/css/reveal.css')
		link(rel='stylesheet', href='/css/kaotec.css')
		link#theme(rel='stylesheet', href='/css/theme/kaotec.css')
	body
		.reveal
			.slides
				each item in locals
					section.stack
						img.backimg(src="/img/#{item.img[0]}")
						each slide in item.img
							section
								h1 #{item.title}
								h6 #{slide}



		script(src='/lib/js/head.min.js')
		script(src='/lib/js/d3.v3.min.js')
		script(src='/js/reveal.js')
		script(src='/lib/js/jquery-1.9.1.min.js')
		script(src='/js/s.js')
		script
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
			controls: false,
			progress: true,
			history: true,
			center: true,
			theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
			// Optional libraries used to extend on reveal.js
			dependencies: [
			// { src: '/lib/js/classList.js', condition: function() { return !document.body.classList; } },
			// { src: '/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			// { src: '/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			// { src: '/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
			// { src: '/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
			// { src: '/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
			// { src: '/socket.io/socket.io.js', async: true },
			// { src: '/plugin/notes-server/client.js', async: true },
			// { src: '/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
			]
			});


